#jobboldal{
    text-align: left;
    font-size: 50px;
}
img{
    width: 100px;
    height: auto;
    text-indent: left;
    
} 
table, td, tr{
    text-align: left;
    font-size: 50px;
    padding-right: 50px;
    font-weight: bold;
    
}
tbody{
    text-indent: 50px;
}
td{
    text-indent: left;
}
a{
    text-decoration: none;
    color: white;
}