body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: left;
    margin-left: 100px;
    font-size: 35px;
}

#jobboldal{
    float: right;
    width: 70%;
    margin: auto;
    text-align: center;
}
#jobboldal h1{
    text-align: left;
    margin-left: 90px;
    font-size: 40px;
    font-weight: bold;
}
